<% unless current_user?(@user) %>
  <span id="follow_form_mini_<%= @user.id %>">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow_mini' %>
  <% else %>
    <%= render 'follow_mini' %>
  <% end %>
  </span>
<% end %>