<% provide(:title, "ユーザー一覧") %>
<h1>ユーザー一覧</h1>

<%= will_paginate %>
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user %>
          <% @user = user %>
        <p><%= render 'follow_form_mini' %></p>
      </li>
      <hr>
    <% end %>
  </ul>
<%= will_paginate %>