<% provide(:title, "") %>

<div class="center jumbotron">
  <h1>ぽすと★いっと！</h1>
  <h2>
    <p>かわいいデザインのポスト投稿サイト</p>
  </h2>
  <% if current_user %>
    <h2>
      <%= @user.name %>さん、ようこそ！
    </h2>
  <% end %>

  <%= link_to "会員登録", 'signup', class: "btn btn-lg btn-primary" %>
  <%= link_to "ゲストログイン", '#', class: "btn btn-lg btn-primary" %>
</div>